
.chat-info-container {
    width: 100%;
}


h1.chat-info-header {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 25px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    color: #fff;
}
